[submodule "ext/interfaces"]
	path = ext/interfaces
	url = https://git.emacinc.com:public/mirror/interfaces.git
[submodule "ext/integration"]
	path = ext/integration
	url = https://git.emacinc.com:public/mirror/integration.git
[submodule "ext/eserial"]
	path = ext/eserial
	url = https://git.emacinc.com:public/mirror/eserial.git
[submodule "ext/pexpect"]
	path = ext/pexpect
	url = https://git.emacinc.com:public/mirror/pexpect.git
